.cart-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    color: #000000;
}

.cant-nav {
    display: flex;
}

.go-back {
    padding: 10px 15px;
    border-radius: 20.412px;
    background: linear-gradient(100deg, rgba(255, 255, 255, 0.26) -7.77%, rgba(255, 255, 255, 0.09) 126.5%);
    backdrop-filter: blur(3.4019999504089355px);
}


.cart-page__title {
    font-size: 24px;
    margin-bottom: 30px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.cart-summary {
    border-top: 1px solid #000;
    padding-top: 15px;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.cart-total__label {
    font-weight: 700;
}

.checkout-button {
    width: 100%;
    padding: 12px 0;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.5px;
}